<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Homepage</title>
</head>
<body>

	<h1>Welcome to the homepage <%=res['uid']%></h1>
	<a href="/logout"><button class="btn btn-danger">Sign out</button></a>
</body>
</html>